body{
    background-color: lightgray;
    text-align: center;
    font-family: Arial;
}

img{
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
}

p{
    font-size: 18px;
    color: black;
}