body{
    text-align: center;
    font-family: Arial;
    background-color: whitesmoke;
}

h1{
    color: darkblue;
}

a{
    font-size: 20px;
    color: red;
    text-decoration: none;
}